.Statistics {
    text-align: center;
}

.background {
    position: absolute;
}

.text {
    position: relative;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 9%;
    font-family: "Papyrus", Fantasy;
}

.gruppoStats .buttonOpp {
    background-color: #696969;
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    height: 72px;
    width: 220px;
    margin-left: 43vw;
    display: block;
    font-family: "Times New Roman", Times, serif;
}

.gruppoStats .buttonOpp span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.gruppoStats .buttonOpp:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }

.gruppoStats .buttonOpp span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.gruppoStats .buttonOpp:hover span {
    padding-right: 25px;
}

.gruppoStats .buttonOpp:hover span:after {
    opacity: 1;
    right: 0;
}

.gruppoStats .buttonOpp:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonOthers {
    background-color: #696969;
    border: 2px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    border-radius: 15%;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    width: 220px;
    margin-top: 70px;
    margin-left: 43vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonOthers span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonOthers span:after {
    content: '\27AC';
    position: absolute;
    opacity: 0;
    top: 0;
    rotate: 180deg;
    right: 130px;
    transition: 0.4s;
}

.buttonOthers:hover span {
    padding-left: 25px;
}

.buttonOthers:hover span:after {
    opacity: 1;
    right: 1;
}

.buttonOthers:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonUtente {
    background-color: #696969;
    border: 2px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    border-radius: 15%;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    height: 60px;
    position: absolute;
    width: 220px;
    margin-top: 70px;
    margin-left: 43vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonUtente span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonUtente span:after {
    content: '\27AC';
    position: absolute;
    opacity: 0;
    top: 0;
    rotate: 180deg;
    right: 80px;
    transition: 0.4s;
}

.buttonUtente:hover span {
    padding-left: 25px;
}

.buttonUtente:hover span:after {
    opacity: 1;
    right: 1;
}

.buttonUtente:hover {
    background-color: #708090;
    opacity: 1;
}