.Statistics {
    text-align: center;
}

.tabellaClassifica {
    width: 1000px;
    position: absolute;
    color: black;
    margin-top: 5%;
    margin-left: 17%;
}

.tab {
    text-align: center;
    width: 250px;
}

.classificheText {
    position: absolute;
    color: white;
    margin-left: 17%;
    margin-top: 2%;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
}