.Sponsor {
    text-align: center;
}

.sponsorDropDown {
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    position: absolute;
    margin-top: 12%;
    margin-left: 18%;
    font-family: "Lucida Bright", Times, serif;
    width: 250px;
}
  
.sponsorDropDown:focus{
    outline:none;
}

.addSponsor {
    width: 250px;
    position: absolute;
    margin-top: 15%;
    margin-left: 14%;
}

