.Operations {
    text-align: center;
}

.background {
    position: absolute;
}

.text {
    position: relative;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 9%;
    font-family: "Papyrus", Fantasy;
}

.button {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    width: 150px;
    display: block;
    margin-left: 43vw;
    font-family: "Times New Roman", Times, serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:first-child {
    margin-top: 12%;
}

.button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.button:hover {
    background-color: #708090;
    opacity: 1;
}