.Operations {
    text-align: center;
}

.background {
    position: absolute;
}

.text {
    position: relative;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 9%;
    font-family: "Papyrus", Fantasy;
}

.button {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    height: 72px;
    position: absolute;
    width: 220px;
    margin-top: 283px;
    margin-left: 43vw;
    font-family: "Times New Roman", Times, serif;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.button span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonLott {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    width: 220px;
    margin-left: 36vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonLott span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonLott span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonLott:hover span {
    padding-right: 25px;
}

.buttonLott:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonLott:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonTeam {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 17px;
    cursor: pointer;
    height: 72px;
    width: 220px;
    margin-left: 50vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonTeam span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonTeam span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonTeam:hover span {
    padding-right: 25px;
}

.buttonTeam:hover span:after {
    opacity: 1;
    right: 0;
}


.buttonTeam:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonSponsor {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    width: 220px;
    margin-top: 71px;
    margin-left: 36vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonSponsor span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonSponsor span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonSponsor:hover span {
    padding-right: 25px;
}

.buttonSponsor:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonSponsor:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonEventi {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    height: 72px;
    width: 220px;
    margin-top: 71px;
    margin-left: 50vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonEventi span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonEventi span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonEventi:hover span {
    padding-right: 25px;
}

.buttonEventi:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonEventi:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonEditLot {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    width: 220px;
    margin-top: 142px;
    margin-left: 36vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonEditLot span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonEditLot span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonEditLot:hover span {
    padding-right: 25px;
}

.buttonEditLot:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonEditLot:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonEditEven {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    position: absolute;
    width: 220px;
    margin-top: 142px;
    margin-left: 50vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonEditEven span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonEditEven span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonEditEven:hover span {
    padding-right: 25px;
}

.buttonEditEven:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonEditEven:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonNews {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    width: 220px;
    margin-top: 212px;
    margin-left: 36vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonNews span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonNews span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonNews:hover span {
    padding-right: 25px;
}

.buttonNews:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonNews:hover {
    background-color: #708090;
    opacity: 1;
}

.buttonPubbl {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 72px;
    cursor: pointer;
    width: 220px;
    margin-top: 212px;
    margin-left: 50vw;
    font-family: "Times New Roman", Times, serif;
}

.buttonPubbl span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonPubbl span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonPubbl:hover span {
    padding-right: 25px;
}

.buttonPubbl:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonPubbl:hover {
    background-color: #708090;
    opacity: 1;
}