.Lottatore {
    text-align: center;
}

.backgroundLottatore {
    position: absolute;
}

.buttonLottatore {
    background-color: #696969; /* Green */
    border: 1px solid rgb(0, 0, 0);
    color: #D3D3D3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    width: 150px;
    margin-left: 43vw;
    font-family: "Times New Roman", Times, serif;
    margin-top: 40%;
}

.buttonLottatore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.buttonLottatore span:after {
    content: '\27AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.buttonLottatore:hover span {
    padding-right: 25px;
}

.buttonLottatore:hover span:after {
    opacity: 1;
    right: 0;
}

.buttonLottatore:hover {
    background-color: #708090;
    opacity: 1;
}